<!DOCTYPE html>
<html>
  <head>
    <title>Top Songs of the Week</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Top Songs of the Week</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">All songs</a> |
          <a href="{{ url_for('create')}}">Add a song</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this example app is
          <a href="https://github.com/nyu-database-design/7-web-app-dtuesta1"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
