{% extends 'base.html' %}
{% block container %}
<h2>Update</h2>
<p>Edit a song</p>
<form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
  <p>Song: <input type="text" id="title" name="title" /><br /></p>
  <p>Artist: <input type="text" id="artist_name" name="artist_name" /><br /></p>
  <p>Genre:
    <select id="genre" name="genre">
      <option value="Pop">Pop</option>
      <option value="HH">Hip Hop</option>
      <option value="RnB">RnB</option>
      <option value="Latin">Latin</option>
      <option value="Electronic">Electronic</option>
      <option value="Alternative">Alternative</option>
      <option value="Classical">Classical</option>
      <option value="Other">Other</option>
    </select>
  </p>
  <p>
    Comments:
    <textarea type="text" id="comments" name="comments"></textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}
