{% extends 'base.html' %}

{% block container %}
<h2>Read</h2>
<p>Read all of this week's top songs.</p>
        
    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p class="post">
            Posted at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            <br/>
            <br>
            Song Title:{{ doc.title }}
            <br>
            Artist: {{ doc.artist_name }}
            <br>
            Genre: {{ doc.genre }}
            <br>
            Comments: {{ doc.comments }}
            <br>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            <br/>
        </p>
        <p>
            {{ doc.message }}
        </p>
    </div>
    {% endfor %}
    {% endblock %}